@import "tailwindcss";

@theme {
  --color-primary: #c084fc;
  --color-secondary: #9333EA;
  --color-background: #0F172A;
  --color-muted: #94A3B8;
  --color-dark: #181e2c;
  --color-light: #F2F2F2;
  --font-sans: "Roboto", sans-serif;
}

html.dark{
  background-color: #0F172A;
}
html.light{
  background-color:#F2F2F2 ;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


